body {
	background-color: #eee;
	height: 100vh;
}

.nav-link {
	font-weight: bold;
	color: grey;
}

.active {
	color:white;
}

.nav-container {
	margin-bottom: 50px;
}

.carousel-cptn {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.carousel-container {
	margin-bottom: 50px;
}

.headline-custom{
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 50px;
}

.footer-container {
	height: 100px;
}

.cart-custom { 
	background-color: black; 
	padding: 1px;
	color: white;
	border-radius: 100px; 
}

#banner {  
	margin: auto 0px; 
	background-image: url(".././assets/banner.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
 	height: 500px; 
}

.card {
	box-shadow: 2px 4px 4px 0px rgba(200,200,200,1);
}